*{
	padding: 0;
	margin: 0;
	border: 0;
}

nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	ms-text-size-adjust: 100%;
	moz-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}

body{
	background-image: url("/assets/images/main-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.cursor-cross{
	cursor: crosshair;
}