<h1 mat-dialog-title>Игра МАФИЯ</h1>
<div mat-dialog-content >
	<p>
		- Для начала необходимо выбрать имя пользователя, которое должно быть уникальным, 
		не содержать специальных символов или слов 'ADMIN' и 'MAFIA'.
	</p>
	<p>
		- Игрок может создать игру, выбрав количество мафии в игре. Создатель игры
		может начать и закончить игру.
	</p>
	<p>
		- Каждая игра содержит уникальный идентефикатор (№ игры). 
		К игре можно подключиться введя ее номер.
		Нажав на кнопку 'Список доступных игр' можно просмотреть все игры,
		доступные для подключения.
	</p>
	<p>
		- Игроки деляться на две группы - мафию и мирных жителей. Каждый игрок знает свою
		роль. Мирные жители не знают роли других игроков. Мафия знает роли всех. Задача
		мирных жителей - вычислить мафию и уничтожить всех ее участников.
		Задача мафии - уничтожить мирных жителей.
	</p>
	<p>
		- В игре есть два периода - день и ночь. Днем все игроки могут общаться в чате.
		Мирные жители пытаются вычислить мафию.	В конце дня начинается голосвание,
		где большинством голосов выбирают игрока, который будет казнен. Если было набрано
		0 голосов, или два игрока набрали одинаковое количество голосов, никто казнен не будет.
		Голосование открытое, в поле игрока показано против кого он голосовал
	</p>
	<p>
		- Ночью город засыпает и просыпается мафия. Мафия может общаться в чате, который скрыт от мирных жителей.
		В конце ночи происходит голосование мафии, при котором выбирают мирного жителя, который будет убит.
	</p>
</div>